<!DOCTYPE html>
<html>
<head>
    <title>Fruit List</title>
</head>
<body>
    <h1>Fruit List</h1>
    <ul>
        <% fruits.forEach(fruit => { %>
            <li><%= fruit %></li>
        <% }); %>
    </ul>
    <a href="/add">Add a Fruit</a>
    <ul>
        <% fruits.forEach(fruit => { %>
          <li><%= fruit %></li>
        <% }); %>
      </ul>
      <form action="/addFruit" method="POST">
        <input type="text" name="fruit" placeholder="Enter a fruit" required>
        <button type="submit">Add Fruit</button>
      </form>
</body>
</html>
